/*样式重置*/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: 12px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	vertical-align: top;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
th,td{
	width:100px;
	height:100px;
}
input{
	padding: 0;
	margin: 0;
}
i{
	margin: 0 5px;
	font-style: normal;
	font-size: 12px;
}

/*常用工具*/
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}



#ktlx{
	width: 238px;
	height: 420px;
	border: 2px solid #000;
	border-radius: 2px;
	margin: 10px auto 0;
}
#case{
	height: 380px;
	padding: 5px 5px 0;
	border-bottom: 1px solid #B2B2B2;
	overflow: overlay;
	background: #f1f2f0;
}



#input{
	background: #f7f7f7;
	width: 238px;
	height: 34px;
}



.portrait{
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
#input input{
	margin-top: 2px;
}
#text{
	height: 28px;
	border: 1px solid #ded6e7;
	border-radius: 5px;
}
#add{
	margin-right: 3px;
	background: none;
	border: none;
	color: #8c8494;
	font: 18px/28px "微软雅黑";
	font-weight: bold;
}
#add:active{
	color: #000000;
}

#portrait{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#portraitimg{
	width: 100%;
	height: 100%;
}
.p1{
	min-height: 27px;
	padding: 2px 30px;
	background: url(../IMG/tuhao.png) no-repeat;
	background-position: right;
}
.p1 span{
	min-height: 27px;
	min-width: 5px;
	background: greenyellow;
	border: 1px solid #000;
	border-radius: 5px;
	font: 16px/25px "微软雅黑";
}
.p2{
	min-height: 27px;
	padding: 2px 30px;
	background: url(../IMG/diaosi.png) no-repeat;
	background-position: left;
}
.p2 span{
	min-height: 27px;
	min-width: 5px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	font: 16px/25px "微软雅黑";
}
