/*样式重置*/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: 12px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	vertical-align: top;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
th,td{
	width:100px;
	height:100px;
}
input{
	padding: 0;
	margin: 0;
}
i{
	margin: 0 5px;
	font-style: normal;
	font-size: 12px;
}

/*常用工具*/
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mauto{
	margin: 0 auto;
}


/*样式*/
#box{
	background: url(../img/bg.png);
	width: 875px;
	height: 553px;
	margin-top: 20px;
	border: 2px solid #efefde;
	border-radius: 5px;
	position: relative;
}
a{
	position: absolute;
	top:54px;
	width: 60px;
	height: 20px;
}
#box a:nth-of-type(1){
	left:23px;
}
#box a:nth-of-type(2){
	left:100px;
}
img{
		position: absolute;
		top: 114px;
		height: 245px;
		cursor: pointer;
}
#box img:nth-of-type(1){
	width:448px;
	left: 49px;
}
#box img:nth-of-type(2){
	width: 248px;
	left:559px;
}
p{
	height: 20px;
	width: 200px;
	position: absolute;
	bottom: 150px;
	text-align: center;
}
#box p:nth-of-type(1){
	left: 136px;
}
#box p:nth-of-type(2){
	width: 130px;
	left: 634px;
}
i{
	position: absolute;
	bottom: 143px;
	font-weight: bold;
}
#box i:nth-of-type(1){
	left: 49px;
}
#box i:nth-of-type(2){
	right: 297px;
}
