/*样式重置*/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: 12px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
th,td{
	width:100px;
	height:100px;
}
input{
	padding: 0;
	margin: 0;
}
i{
	margin: 0 5px;
	font-style: normal;
	font-size: 12px;
}

/*常用工具*/
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mauto{
	margin: 0 auto;
}
.position{
	position: relative;
}
/*布局*/
#box{
	margin-top: 100px;
	width: 430px;
	height: 330px;
	border: 2px solid #c9c9c9;
	box-shadow:0 0 5px 5px #c9c9c9
}
#box2{
	font: bold 40px/40px "微软雅黑";
}
#max{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
	font:20px/30px "微软雅黑";
}
#head{
	width: 100%;
	height: 182px;
	background: url(../IMG/head.jpg) no-repeat;
}
#san1{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 60px;
}
#min{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 30px;
}
#clo1{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
}
.righta:hover{
	opacity: 0.3;
	background: #000;
}
#identp{
	margin-top: 12px;
	position: relative;
	width: 192px;
	height: 30px;
}
#ident{
	border-radius: 5px 5px 0 0;
	position: absolute;
	top: 0;
	left: 0;
}
#mimap{
	position: relative;
}
#mima{
	margin-top: -1px;
	border-radius: 0 0 5px 5px;
}
#portrait{
	width: 80px;
	height: 80px;
	margin: 12px 11px 0 42px;
}
.shuru{
	width: 192px;
	height: 28px;
	border: 1px solid #d1d1d1;
	position: relative;
}
.shuru:hover{
	z-index: 5;
}
.shuruhover{
	z-index: 5;
}

.checkbox{
	margin-top: 8px;
	font: bold 11px/18px "微软雅黑";
}
.checkbox input:nth-of-type(2){
	margin-left: 40px;
}
#landing{
	width: 194px;
	height: 30px;
	background: #09a3dc;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: 18px/30px "微软雅黑";
}
.find a{
	display: block;
	margin: 20px 0 0 5px;
}
