/*样式重置*/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: 12px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	vertical-align: top;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
th,td{
	width:100px;
	height:100px;
}
input{
	padding: 0;
	margin: 0;
}
i{
	margin: 0 5px;
	font-style: normal;
	font-size: 12px;
}

/*常用工具*/
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mauto{
	margin: 0 auto;
}
.position{
	position: relative;
}

/*样式*/
#box{
	width: 550px;
	margin: 20px auto;
	height: 50px;
	border: 1px solid #000;
}
#box2{
	width: 20px;
	height: 20px;
	background: pink;
}
#box a{
	float: left;
	width: 48px;
	height: 48px;
	display: block;
	border: 1px solid blanchedalmond;
	border-radius: 24px;
	background: gold;
	text-align: center;
	font: 20px/48px "微软雅黑";
	color: #fff;
}
