/*样式重置*/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: 12px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	vertical-align: top;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
th,td{
	width:100px;
	height:100px;
}
input{
	padding: 0;
	margin: 0;
}
i{
	margin: 0 5px;
	font-style: normal;
	font-size: 12px;
}

/*常用工具*/
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mauto{
	margin: 0 auto;
	max-width: 1200px;
}
h3{
	font: bold 21px/24px "微软雅黑";
	background: url(../IMG/h3back.jpg);
	padding: 10px 2%;
	margin-bottom: 10px;
}
h4{
	font: bold 18px/39px "微软雅黑";
	color: #6d6e9e;
}
h5{
	text-align: center;
}


/*布局*/


/*top*/
#top{
	border-top: 1px solid #222;
	background: #1b1b1b;
}
.top_ul1 li{
	width: 42px;
    height: 33px;
	border-right: 1px solid #2f2f2f;
	border-left: 1px solid rgba(255, 255, 255, 0.0976562);
}
.top_ul1 li a{
	display: block;
    height: 17px;
    color: #e6e6e6;
    display: block;
    padding: 8px 12px;
}
body .top_img1{
	background: url(../IMG/topli.png) -7px -2px;
	border: none;
}
.top_img1 a{
	margin-top: 4px;
	margin-left: 3px;
	background: url(../IMG/topli.png) -7px -40px;
}
.top_img2{
	background: url(../IMG/topli.png) -57px -2px;
}
.top_img3{
	background: url(../IMG/topli.png) -107px -2px;
}
.top_img4{
    background: url(../IMG/topli.png) -156px -1px;
}
.top_img5{
	background: url(../IMG/topli.png) -205px -1px;
}
.top_ul2{
	float: right;
}
.top_ul2 li{
	border-left: 1px solid rgba(255, 255, 255, 0.0976562);
    border-right: 1px solid rgba(0, 0, 0, 0.347656);
}
.top_ul2 li:hover{
	background: #2b2b2b;
}
.top_ul2 li a{
    color: #e6e6e6;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    font: bold 13px/17px Helvetica;
}

/*index_section*/
#index_section{
	background: #0669ad;
	border-top: 1px solid #7acef2;
	padding: 0 20px;
	border-bottom: 1px solid #7ccdf8;
}
header{
	padding: 20px 0;
}
header a{
	display: inline-block;
	height: 100%;
	width: 100%;
}
h1{
	background: url(../IMG/logo-jquery.png);
	width: 243px;
	height: 66px;
	margin-top: 20px;
	float: left;
}
h1 a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-indent: -1000px;
}
#support{
	width: 400px;
	height: 100px;
	background: url(../IMG/support.png) no-repeat;
}
.content_head{
	max-width: 1200px;
	background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}
.content_head ul{
	padding: 10px 0;
	width: 70%;
}
.content_head li{
	margin-right: 2px;
}
.content_head li a{
	color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    display: block;
    border: 1px solid transparent;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
    font-size: 16px;
    line-height: normal;
    font-family: Geneva;
    font-weight: bold;
}
.content_head_se{
	display: none;
}
.searchform{
	display: block;
	float: right;
    width: 28%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
    border: 1px solid rgba(0,0,0,0.25);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.796875) 0 -1px 0, rgba(255, 255, 255, 0.296875) 0 0 10px;
}
.search{
	margin: 5px 10px 5PX 0;
	border: none;
	background: none;
	width: 15px;
	height: 15px;
	background: url(../IMG/search.jpg) no-repeat;
}
.searchform input{
	width: 70%;
	line-height: 27px;
	padding-left: 3%;
	background: rgba(0,12,23,0);
	border: none;
	outline:none;
	color: #fff;
}
.search span 	{
	display: block;
}
.box1_fl{
	width: 67%;
}
.box1_fl p{
	margin-bottom: 15px;
	color: #333;
    font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.box1_fl_ul{
	margin: 0 0 20px 20px;
}
.box1_fl_ul li{
	width: 25%;
	height: 140px;
}
.box1_fl_ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.box1_fl_ul img{
	width: 100%;
	height: 100%;
}
.box1_fr{
	    width: 33%;
}
.box1_fr h4{
	padding: 0 25px 0 60px;
}
.box1_fr ul{
	
	    padding: 0 25px 0 60px;
}
.box1_fr ul li{
	padding: 5px 0 5px 20px;
}
.box1_fr li a{
	text-decoration: underline;
	color: #b24926;
	line-height: 20px;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.box1_fr li a:hover{
	text-decoration: none;
	color: #2c2c2c;
}
.JQery_img{
	    padding: 5px 0 0 60px;
}
.JQery_img img{
	width: 100%;
}
.introduce{
    background: #2a2a2a;
    padding: 21px 10px 35px;
}
.acef4{
	color: #7acef4;
	font-size: 20px;
    line-height: 20px;
    font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
    margin-top: 15px;
}
.project_title li{
	width: 50%;
	padding: 1rem 0;
}
.project_title1{
	background: #b24926;
}
.project_title1 a{
	display: block;
	width: 114px;
	height: 30px;
	background: url(../IMG/introduce.png) -328px 0;
	margin: 0 auto;
}
.project_title2{
	background: #108040;
}
.project_title2 a{
	display: block;
	width: 122px;
	height: 30px;
	background: url(../IMG/introduce.png) -442px 0;
	margin: 0 auto;
}
.project_title3{
	background: #390f39;
}
.project_title3 a{
	display: block;
	width: 105px;
	height: 30px;
	background: url(../IMG/introduce.png) -564px 0;
	margin: 0 auto;
}
.project_title4{
	background: #9a1B1E;
}
.project_title4 a{
	display: block;
	width: 105px;
	height: 30px;
	background: url(../IMG/introduce.png) -669px 0;
	margin: 0 auto;
}
.introduce_img1{
	background: url(../IMG/introduce1.png) no-repeat ;
	width: 132px;
	height: 107px;
	margin: 0 auto;
}
.introduce_img2{
	background: url(../IMG/introduce1.png) no-repeat -132px;
	width: 132px;
	height: 107px;
	margin: 0 auto;
}
.introduce_img3{
	background: url(../IMG/introduce1.png) no-repeat -266px;
	width: 132px;
	height: 107px;
	margin: 0 auto;
}
.introduce2{
	width: 24%;
	padding: 0 3%;
}
.introduce2 p{
	font-size: 15px;
    line-height: 22.5px;
}
.introduce2_img a{
	display: block;
    padding: 0 0 .5em 0;
    font-size: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 0.8em;
}
.introduce2 a:hover{
	text-decoration: none;
}
.introduce2_img a img{
	width: 100%;
	height: 100%;
}
.introduce ul{
	display: flex;
	justify-content: space-around;
	width: 65%;
	margin-left: 5%;
}
.introduce ul li{
	text-align: center;
	padding: 0px 25px;
	width: 30%;
}
.underline{
	text-decoration: underline;
}
.adadad{
	color: #adadad;
	margin: 10px 0 15px 0;
}
.box1{
	padding: 0 25px;
	background: #fff;
}
.pad20{
	background: #fff;
	padding: 20px 0;
}
.section_bottom{
	border-radius: 0 0 10px 10px;
	border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-bottom: 1px solid rgba(250, 250, 250, 0.27);
}

footer{
	background: #282828;
	padding: 45px 20px 0;
}
.constrain{
	width: 50%;
}
.constrain_img ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.constrain_img li{
	width: 30%;
}
.constrain_img img{
	display: block;
	width: 90px;
	height: 112px;
	margin: 0 auto;
}
.constrain_img p{
	width: 100%;
	text-align: center;
	font-family: Helvetica;
}
.foot_text1{
	line-height: 1.5em;
    color: #fff;
}
.foot_text2{
	line-height: 1.5em;
    color: #aaa;
}
.constrain_border{
	margin-top: 1em;
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
}
.foot{
	padding-top: 10px;
}
.footi{
	width: 48%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.foot ul li{
	padding-left: 30px;
}
.footi li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #aaa;
	line-height: 16px;
}
.foot{
	line-height: 16px;
}
.foottext{
	width: 40%;
}
.foot p{
	margin: 10px 0;
}
.foottext span{
	display: inline-block;
}
.footi1{
	background: url(../IMG/sprite.png) no-repeat;
}
.footi1:hover a{
	color: #e6e6e6;
}
.footi2{
	background: url(../IMG/sprite.png) no-repeat 0 -40px;
}
.footi2:hover a{
	color: #e6e6e6;
}
.footi3{
	background: url(../IMG/sprite.png) no-repeat 0 -80px;
}
.footi3:hover a{
	color: #e6e6e6;
}
.footi4{
	background: url(../IMG/sprite.png) no-repeat 0 -120px;
}
.footi4:hover a{
	color: #e6e6e6;
}
.footi5{
	background: url(../IMG/sprite.png) no-repeat 0 -160px;
}
.footi5:hover a{
	color: #e6e6e6;
}
.footi6{
	background: url(../IMG/sprite.png) no-repeat 0 -200px;
}
.footi6:hover a{
	color: #e6e6e6;
}
.foot p a{
	color: #aaa;
}
.foot p a:hover{
	color: #e6e6e6;
}
